html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --dark-theme-color: #ffffff;
  --title-color: #212121;
  --desription-color: #757575;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  font-family: var(--main-font);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

/* Шапка */

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 85px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}
.navigation-list,
.address-list {
  padding-left: 0px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.navigation-list-link,
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-list-link {
  color: #212121;
}
.adress-list-link {
  color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero-title,
.modal-btn {
  color: var(--dark-theme-color);
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
}
/* Особенности */
.features-list-title,
.features-list-description {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.features-list-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-list-description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--desription-color);
}
/* Чем мы занимаемся */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.lesson-list-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
  background: rgba(47, 48, 58, 0.8);
}
/*Наша команда*/
.team-list-title,
.team-list-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-weight: 500;
  color: var(--title-color);
}
.team-list-description {
  font-weight: 400;
  color: var(--desription-color);
}
/* Портфолио */
.filter-list-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
.filter-list-item-btn:hover,
.filter-list-item-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.gallery-list-title,
.gallery-list-description {
  font-size: 18px;
}

.gallery-list-title {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.gallery-list-description,
.gallery-list-subtitle {
  font-weight: 400;
  letter-spacing: 0.03em;
}
.gallery-list-subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--desription-color);
}
.gallery-list-description {
  line-height: 1.56;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* Подвал */
footer {
  background-color: #2f303a;
}
footer .logo {
  color: #ffffff;
}
.contact-list-address,
.contact-list-mail,
.contact-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-theme-color);
}
.contact-list-mail,
.contact-list-tel {
  opacity: 0.6;
}
.slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}
