/* body*/
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

/* Шапка */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  color: #2196f3;
}
.navigation-list-link,
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-list-link {
  color: #212121;
}
.adress-list-link {
  color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.adress-list-link:hover,
.adress-list-link:focus {
  color: #2196f3;
}
/* Герой */
.hero-title,
.hero-btn {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  background-color: #2196f3;
}
